* {
  /* HTML5 display-role reset for older browsers */ }
  * html, * body, * div, * span, * applet, * object, * iframe, * h1, * h2, * h3, * h4, * h5, * h6, * p, * blockquote, * pre, * a, * abbr, * acronym, * address, * big, * cite, * code, * del, * dfn, * em, * img, * ins, * kbd, * q, * s, * samp, * small, * strike, * strong, * sub, * sup, * tt, * var, * b, * u, * i, * center, * dl, * dt, * dd, * ol, * ul, * li, * fieldset, * form, * label, * legend, * table, * caption, * tbody, * tfoot, * thead, * tr, * th, * td, * article, * aside, * canvas, * details, * embed, * figure, * figcaption, * footer, * header, * hgroup, * menu, * nav, * output, * ruby, * section, * summary, * time, * mark, * audio, * video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  * article, * aside, * details, * figcaption, * figure, * footer, * header, * hgroup, * menu, * nav, * section {
    display: block; }
  * body {
    line-height: 1; }
  * ol, * ul {
    list-style: none; }
  * blockquote, * q {
    quotes: none; }
  * blockquote:before, * blockquote:after {
    content: '';
    content: none; }
  * q:before, * q:after {
    content: '';
    content: none; }
  * table {
    border-collapse: collapse;
    border-spacing: 0; }

a {
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@font-face {
  font-family: TruenoLt;
  src: url(../fonts/TruenoLt.otf); }
@font-face {
  font-family: TruenoUltBlk;
  src: url(../fonts/TruenoUltBlk.otf); }
@font-face {
  font-family: TruenoBd;
  src: url(../fonts/TruenoBd.otf); }
.header {
  width: 100%; }
  .header .header-top {
    background: #472424; }
    .header .header-top .header-holder {
      width: 1110px;
      margin: 0 auto; }
      .header .header-top .header-holder .header-top-left {
        width: 50%;
        float: left; }
        .header .header-top .header-holder .header-top-left .left-menu {
          float: left; }
          .header .header-top .header-holder .header-top-left .left-menu .nav li {
            display: inline-block;
            padding: 15px 0px 15px 0px; }
            .header .header-top .header-holder .header-top-left .left-menu .nav li a {
              padding: 15px;
              font-family: TruenoLt;
              font-size: 13px;
              color: white;
              transition: all ease 0.3s;
              position: relative;
              z-index: 1; }
              .header .header-top .header-holder .header-top-left .left-menu .nav li a:hover:before {
                height: 100%; }
            .header .header-top .header-holder .header-top-left .left-menu .nav li a::before {
              content: "";
              z-index: -1;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 0;
              background: #ff7373;
              transition: all ease 0.3s; }
      .header .header-top .header-holder .header-top-right {
        width: 50%;
        float: right; }
        .header .header-top .header-holder .header-top-right .right-menu {
          float: right; }
          .header .header-top .header-holder .header-top-right .right-menu .nav li {
            display: inline-block;
            padding: 15px 0px 15px 0px; }
            .header .header-top .header-holder .header-top-right .right-menu .nav li img {
              width: 14px;
              padding-right: 5px; }
            .header .header-top .header-holder .header-top-right .right-menu .nav li span {
              font-family: TruenoLt;
              font-size: 13px;
              color: white; }
              .header .header-top .header-holder .header-top-right .right-menu .nav li span a.items {
                color: #dcc5b8; }
            .header .header-top .header-holder .header-top-right .right-menu .nav li a {
              padding: 15px;
              font-family: TruenoLt;
              font-size: 13px;
              color: white;
              transition: all ease 0.3s;
              position: relative;
              z-index: 1; }
              .header .header-top .header-holder .header-top-right .right-menu .nav li a:hover:before {
                height: 100%; }
            .header .header-top .header-holder .header-top-right .right-menu .nav li a::before {
              content: "";
              z-index: -1;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 0;
              background: #ff7373;
              transition: all ease 0.3s; }
  .header .header-bottom {
    background: #623232; }
    .header .header-bottom .header-holder {
      width: 1110px;
      margin: 0 auto; }
      .header .header-bottom .header-holder .header-bottom-left {
        width: 40%;
        float: left; }
        .header .header-bottom .header-holder .header-bottom-left .logo-wrap {
          margin-top: 20px;
          margin-left: 10px; }
      .header .header-bottom .header-holder .header-bottom-right {
        width: 60%;
        float: right; }
        .header .header-bottom .header-holder .header-bottom-right .main-menu {
          float: right; }
          .header .header-bottom .header-holder .header-bottom-right .main-menu .main-nav li {
            display: inline-block;
            padding: 30px 0px 30px 0px; }
            .header .header-bottom .header-holder .header-bottom-right .main-menu .main-nav li a {
              font-family: TruenoLt;
              z-index: 1;
              font-size: 16px;
              color: white;
              padding: 30px 15px 30px 15px;
              position: relative; }
              .header .header-bottom .header-holder .header-bottom-right .main-menu .main-nav li a:hover:after {
                width: 100%; }
            .header .header-bottom .header-holder .header-bottom-right .main-menu .main-nav li a::after {
              content: "";
              position: absolute;
              width: 0;
              height: 4px;
              background: #ff7373;
              transition: all ease 0.4s;
              left: 0;
              bottom: 0; }

.item-content {
  width: 1110px;
  margin: 0 auto; }

.banner {
  width: 100%;
  height: 600px;
  background: #f0efee; }
  .banner .banner-left {
    width: 50%;
    float: left;
    height: -webkit-fill-available; }
    .banner .banner-left .banner-img-wrap {
      position: relative;
      left: 0;
      top: 0; }
      .banner .banner-left .banner-img-wrap img {
        position: absolute;
        left: -430px;
        top: -90px; }
  .banner .banner-right {
    float: right;
    width: 50%;
    height: -webkit-fill-available; }
    .banner .banner-right .banner-content {
      float: right;
      width: 540px; }
      .banner .banner-right .banner-content span {
        display: block; }
      .banner .banner-right .banner-content span.nike-air-cost {
        font-family: TruenoLt;
        font-size: 30px;
        color: #623232;
        margin-top: 130px; }
      .banner .banner-right .banner-content h2.nike-air-title {
        font-family: TruenoUltBlk;
        font-size: 70px;
        color: #623232;
        margin-top: 20px; }
      .banner .banner-right .banner-content span.nike-air-variants {
        font-family: TruenoUltBlk;
        font-size: 50px;
        color: #ff7373;
        margin-top: 20px; }
      .banner .banner-right .banner-content p.descr {
        font-family: TruenoLt;
        font-size: 16px;
        color: #8a8784;
        line-height: 1.5;
        margin-top: 30px;
        width: 405px; }
      .banner .banner-right .banner-content .browse-variats {
        font-family: TruenoBd;
        width: 255px;
        height: 50px;
        outline: 0;
        border: 0;
        cursor: pointer;
        background: #ff7373;
        font-size: 16px;
        color: white;
        margin-top: 35px; }

.item-content {
  width: 1110px;
  margin: 0 auto; }

.features {
  margin-top: 50px;
  width: 100%; }
  .features .features-left {
    width: 50%;
    float: left; }
    .features .features-left .block {
      width: 540px;
      float: left;
      height: 540px;
      background: url(../img/1img.png) no-repeat center;
      background-size: contain;
      position: relative; }
      .features .features-left .block .span-wrap span {
        font-family: TruenoLt;
        font-size: 30px;
        color: white;
        display: block;
        text-align: center;
        padding-top: 45px; }
        .features .features-left .block .span-wrap span:last-child {
          padding-top: 15px;
          color: #4bd8cd;
          font-family: TruenoBd; }
      .features .features-left .block .view-collection-button {
        font-size: 16px;
        color: black;
        font-family: TruenoBd;
        outline: none;
        border: 0;
        width: 215px;
        height: 50px;
        background: #4bd8cd;
        margin: 0 auto;
        margin-top: 323px;
        display: block;
        cursor: pointer; }
      .features .features-left .block .part-for-img1 {
        position: absolute;
        left: -17px;
        top: 230px; }
  .features .features-right {
    width: 50%;
    float: right; }
    .features .features-right .features-right-top .block {
      float: right;
      width: 540px;
      height: 250px;
      background: #ff7373;
      position: relative; }
      .features .features-right .features-right-top .block .img-abs {
        width: 200px;
        position: absolute;
        top: -16px;
        left: -14px; }
        .features .features-right .features-right-top .block .img-abs img {
          width: 200px; }
      .features .features-right .features-right-top .block .inside-wrap {
        width: 260px;
        margin-left: 212px; }
        .features .features-right .features-right-top .block .inside-wrap .discover-button {
          font-size: 16px;
          font-family: TruenoBd;
          outline: none;
          border: 0;
          color: white;
          width: 150px;
          height: 50px;
          background: #623232;
          cursor: pointer;
          display: block;
          margin: 0 auto;
          margin-top: 30px; }
        .features .features-right .features-right-top .block .inside-wrap .span-wrap span {
          font-size: 30px;
          padding-top: 50px;
          color: white;
          font-family: TruenoLt;
          display: block;
          text-align: center; }
          .features .features-right .features-right-top .block .inside-wrap .span-wrap span:last-child {
            font-family: TruenoBd;
            padding-top: 15px; }
    .features .features-right .features-right-bottom {
      margin-top: 33px; }
      .features .features-right .features-right-bottom .block {
        width: 255px;
        height: 255px;
        background-size: contain;
        float: right; }
      .features .features-right .features-right-bottom .first-block {
        background: url(../img/img3.png) no-repeat center; }
        .features .features-right .features-right-bottom .first-block .span-wrap span {
          padding-top: 145px;
          font-size: 30px;
          color: white;
          font-family: TruenoLt;
          display: block;
          text-align: center; }
          .features .features-right .features-right-bottom .first-block .span-wrap span:last-child {
            font-family: TruenoBd;
            padding-top: 15px;
            color: #ff7373; }
      .features .features-right .features-right-bottom .second-block {
        background: url(../img/img4.png) no-repeat center;
        margin-right: 28px; }
        .features .features-right .features-right-bottom .second-block .span-wrap span {
          padding-top: 35px;
          font-size: 30px;
          color: #6b7072;
          font-family: TruenoLt;
          display: block;
          text-align: center; }
          .features .features-right .features-right-bottom .second-block .span-wrap span:last-child {
            font-family: TruenoBd;
            padding-top: 15px;
            color: white; }

.products-wrap {
  margin-top: 100px; }
  .products-wrap .tabs-buttons-wrap {
    width: 450px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between; }
    .products-wrap .tabs-buttons-wrap .tab-button {
      font-size: 30px;
      font-family: TruenoLt;
      color: #bdb9b5;
      text-transform: uppercase;
      cursor: pointer;
      transition: all ease 0.3s; }
      .products-wrap .tabs-buttons-wrap .tab-button:hover {
        text-shadow: 1px 1px 5px #81939B; }
    .products-wrap .tabs-buttons-wrap .button-new {
      font-family: TruenoBd;
      color: #623232; }
  .products-wrap .tabs-wrap {
    margin-top: 50px;
    width: 1110px;
    height: 730px;
    overflow: hidden; }
    .products-wrap .tabs-wrap .tabs-line {
      width: 3330px;
      height: 730;
      float: left; }
      .products-wrap .tabs-wrap .tabs-line .tab {
        width: 1110px;
        height: 730px;
        float: left; }
        .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap {
          margin-top: 23px; }
          .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap:first-child {
            margin-top: 0; }
          .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block-with-sale:hover {
            border: 1px solid #8a8784; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block-with-sale:hover .inside-products-wrap .sale-wrap {
              transform: rotate(360deg);
              transition: all ease 1s; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block-with-sale:hover .inside-products-wrap .top-part-of-product-block .span-wrap span.product-price {
              font-size: 30px; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block-with-sale:hover .inside-products-wrap .top-part-of-product-block .span-wrap span.product-old-price {
              font-size: 12px;
              padding-top: 7px; }
          .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block {
            float: left;
            margin-left: 23px;
            width: 195px;
            height: 290px;
            border: 1px solid #e0dfde;
            padding: 30px;
            position: relative;
            cursor: pointer;
            transition: all ease 0.3s; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block:hover {
              border: 1px solid #8a8784; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block:first-child {
              margin-left: 0; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .sale-wrap {
              position: absolute;
              top: 25px;
              right: 0;
              height: 30px;
              width: 60px;
              background: #ff7373; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .sale-wrap span {
                font-family: TruenoBd;
                color: white;
                font-size: 16px;
                display: block;
                text-align: center;
                margin-top: 5px; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .part-of-product-block {
              width: 100%; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .top-part-of-product-block {
              height: 50px; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .top-part-of-product-block .span-wrap span {
                font-family: TruenoLt;
                display: block;
                transition: all ease 0.4s; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .top-part-of-product-block .span-wrap span.product-price {
                font-size: 24px;
                color: #ff7373; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .top-part-of-product-block .span-wrap span.product-price-without-sale {
                color: #8a8784; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .top-part-of-product-block .span-wrap span.product-old-price {
                font-size: 16px;
                padding-top: 10px;
                color: #8a8784;
                text-decoration: line-through; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .middle-part-of-product-block {
              padding-top: 7px;
              height: 100px; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .middle-part-of-product-block .img-wrap img {
                width: 100%; }
            .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block {
              height: 135px;
              position: relative; }
              .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block .span-wrap {
                position: absolute;
                bottom: 0;
                left: 0; }
                .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block .span-wrap span {
                  display: block; }
                .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block .span-wrap span.male-female {
                  font-size: 16px;
                  color: #8a8784;
                  font-family: TruenoBd; }
                .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block .span-wrap span.product-name {
                  font-size: 16px;
                  color: #8a8784;
                  font-family: TruenoLt;
                  padding-top: 14px;
                  line-height: 1.5; }
                .products-wrap .tabs-wrap .tabs-line .tab .block-line-wrap .product-block .inside-products-wrap .bottom-part-of-product-block .span-wrap span.product-id {
                  font-size: 13px;
                  color: #bdb9b5;
                  font-family: TruenoLt;
                  padding-top: 16px; }

/*# sourceMappingURL=style.css.map */
